.footer {
    background-color: #E3E2DE;
    padding: 15px 0;
}

/* responsive for mobile device */
@media only screen and (max-width: 576px){
    .small-device{
        box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding-top: 10px;
        padding-bottom: 5px;
        border-radius: 10px;
        margin: 10px 0;
    }
}